/******************************************
* PHP/Swiftmailer/jQuery Contact Form Demo
* @author rlewis37@cnm.edu
*******************************************/

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

body {
	background-color: black;
}

p {
	color: white;
	font-family: 'Arvo', serif;
}

.py-5 {
	color: white;
	font-family: 'Arvo', serif;

}
.col-md-9 {
	margin: auto;
	width: 100%;
	border: 4px solid white;
	padding: 10px;
	display: flex;
	font-family: "Courier New";
	font-weight: bold;
	position: center;
}

.col-md-3 {
	position: center;
}

/*.col-md-3, h1 {*/
	/*flex-direction: unset;*/
/*}*/

img [alt*=pwp1] {
	flex: auto;
	max-width: 50px;
	height: 50px;
}

img [alt*=pwp2] {
	flex: auto;
	width: 50px;
	height: 50px;
}

img [alt*=pwp3] {
	flex: auto;
	width: 50px;
	height: 50px;
}